<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TicketKart - book your tickets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      .navbar {
        background-image: linear-gradient(to left, darkslategrey, black);
      }
      #body {
        background-color: darkslategray;
      }
      .new {
        max-width: 400px;
        max-height: 200px;
      }
      .card-text {
        font-size: small;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark">
      <div class="container-fluid">
        <h3 class="text-white">
          <a href="/" class="text-white navbar-brand">
            <img src="/images/logo-white.png" width="40px"
            height="40px" alt="" srcset="">
            ticketKart</a>
        </h3>
        <div class="justify-content-end">
          {% if request.user.is_authenticated %}
          <div class="btn-group dropstart">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img
            src="{{request.user.avatar.url}}"
            alt="Profile Picture"
            width="40px"
            height="40px"
            style="border-radius: 50%"
          />
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/">Home</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'cart-detail' %}">My Cart</a></li>
              <li><a class="dropdown-item" href="{% url 'user-profile' %}">My Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'update-user' %}">Update Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'change-password' %}">Update Password</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </div>
          {% else %}

          <!-- Not Logged In -->
          <div class="justify-content-end">
            <a href="{% url 'login' %}" class="btn btn-outline-light">Login</a>
            <a href="{% url 'register' %}" class="btn btn-outline-light"
              >Register</a
            >
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
    <nav class="navbar bg-body-tertiary py-5 navbar-dark">
      <div class="container-fluid">
        <form class="container-fluid" action="/" method="post">
          {% csrf_token %}
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Location"
              value=""
              name="location"
            />
            <input
              type="text"
              class="form-control"
              placeholder="Concert Name"
              aria-label="Username"
              name="concert"
            />
            <input
              type="date"
              class="form-control me-2"
              placeholder="yyyy-mm-dd"
              name="date"
            />
            <button type="submit" class="btn btn-secondary" value="grey">
              Search
            </button>
          </div>
        </form>
        <br />
      </div>
    </nav>
    <br />
      <div class="container" style="max-width: 50%;">
        <form action="" method="post" enctype="multipart/form-data" id="myform">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary btn-lg">Update</button>
        </form>
    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(function() {
        $('form').on('submit', function(event) {
          var newPassword1 = $('#id_new_password1').val();
          var newPassword2 = $('#id_new_password2').val();
          if (newPassword1 != newPassword2) {
            event.preventDefault(); // Prevent the form from submitting
            alert('New passwords do not match!');
          }
        });
      });
    </script>
    <script>
      window.addEventListener('load', function() {
        var form = document.querySelector('#myform');
        var inputs = form.querySelectorAll('input');
    
        // Add Bootstrap classes to form elements
        form.classList.add('form-group');
        inputs.forEach(function(input) {
          input.classList.add('form-control');
        });
    
        // Add Bootstrap classes to password strength help text
        var helptext = form.querySelector('.helptext');
        if (helptext) {
          helptext.classList.add('form-text', 'text-muted');
        }
    
        // Add Bootstrap classes to submit button
        var button = form.querySelector('button[type="submit"]');
        button.classList.add('btn', 'btn-primary', 'btn-lg');
      });
    </script>
    
    
  </body>
</html>